// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 50rem;
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left:  auto;
  margin-right: auto;
}

footer {
  font-family: var(--heading-font);
  font-size: 85%;
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
  margin-left:  auto;
  margin-right: auto;
  text-align: center;

  ul {
    list-style: none;
    padding-left: var(--spacer-1);
  }
}
